# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

/.vs/OadResFreqPred
/OadResFreqPred/git_repo/.vs
/OadResFreqPred/x64/Debug
/packages/Microsoft.ML.OnnxRuntime.1.22.1
/x64/Debug
/Main/x64/Debug
*.user
/onnx_export/my_venv
**/__pycache__/**/*
